button {
  position: absolute;
  z-index: 1000;
  cursor: pointer;
}
.editor {
  background-color: #697277;
  width: 1720px;
  height: 600px;
  top: 150px;
  left: 100px;
  gap: 0px;
  border-radius: 10px;
}
