.content {
  display: grid;
  padding-left: 92px;
  padding-right: 92px;
  padding-top: 44px;
}

.code-part {
  grid-column: 1;
}

.chose-part {
  grid-column: 2;
}

textarea {
  background-color: #697277;
  width: 1240px;
  border-radius: 10px;
  outline: none;
  resize: none;
  height: 250px;
  box-sizing: border-box;
  border: none;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  line-height: 33.75px;
  color: #ffffff;
  align-items: center;
  padding: 10px;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea::placeholder {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  line-height: 33.75px;
  color: #ffffff;
  align-items: center;
  padding: 10px;
}

label {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  line-height: 33.75px;
  color: #ffffff;
}

.submit-content {
  padding-bottom: 94px;
  padding-top: 94px;
  display: grid;
  width: 100%;
}

.text {
  grid-column: 1;
  width: 75%;
  margin-top: 50px;
}

.buttons {
  grid-column: 2;
  margin-left: -400px;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 85px;
}

.repeat {
  width: 400px;
  height: 70px;
  background-color: #5c656b;
  counter-reset: #ffffff;
  font-family: "EB Garamond", serif;
  font-size: 40px;
  line-height: 45px;
  color: #ffffff;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.submit {
  width: 400px;
  height: 100px;
  background-color: #92d28b;
  counter-reset: #ffffff;
  font-family: "EB Garamond", serif;
  font-size: 40px;
  line-height: 45px;
  color: #ffffff;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 80px;
}
