<div>
  <div>
    <form
      class="modal-container__form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <app-input-control
          [input]="{ type: 'text', placeholder: 'Username' }"
          formControlName="username"
        />
        <ng-container
          *ngIf="
            registerForm.controls['username'].invalid &&
            registerForm.controls['username'].value.length > 0
          "
        >
          <app-validators-handler
            [errors]="registerForm.controls['username'].errors"
          ></app-validators-handler>
        </ng-container>
      </div>
      <div>
        <app-input-control
          [input]="{ type: 'password', placeholder: 'Password' }"
          formControlName="password"
        />
        <ng-container
          *ngIf="
            registerForm.controls['password'].invalid &&
            registerForm.controls['password'].value.length > 0
          "
        >
          <app-validators-handler
            [errors]="registerForm.controls['password'].errors"
          ></app-validators-handler>
        </ng-container>
      </div>
    </form>
    <div class="modal-container__buttons-container">
      <button
        class="modal-container__submit-btn"
        type="submit"
        [disabled]="registerForm.invalid"
        (click)="onSubmit()"
      >
        register
      </button>
    </div>
  </div>
</div>
